* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  outline: none;
  text-decoration: none;
  /* border: 1px solid red; */
}

body {
  position: relative;
  margin: 7px;
}

button {
  cursor: pointer;
}

header {
  background-color: #22b3c1;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  margin-left: 140px;
  cursor: pointer;
}

header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 140px;
}

header .navbar .active-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

header .navbar .active-link .line {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin-left: 26px;
}

header .navbar a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: white;
  padding: 5px 0;
  margin: 0 25px;
  letter-spacing: 0.5px;
}

header .navbar a:hover,
header .navbar .active-link:hover {
  opacity: 0.8;
}

main {
  min-height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/banner.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

main h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 110px;
}

main h1 {
  font-size: 50px;
  margin: 10px 0 30px;
}

main button {
  font-size: 14px;
  color: #22b3c1;
  border: 1px solid #22b3c1;
  border-radius: 50px;
  background-color: transparent;
  width: 128px;
  height: 46px;
  transition: all 0.3s ease-in-out;
}

main button:hover {
  background-color: #22b3c1;
  color: #fff;
}

main .more-info {
  width: 1202px;
  height: 121px;
  background-color: white;
  border-radius: 100px;
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
}

main .more-info .box {
  display: flex;
  gap: 20px;
}

main .more-info i {
  color: #22b3c1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #22b3c1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

main .more-info .details span {
  color: #afafaf;
  font-size: 15px;
}

main .more-info .details h4 {
  color: #22b3c1;
  font-size: 20px;
}

.btn {
  background-color: #22b3c1;
  color: white;
  font-size: 14px;
  width: 157px;
  height: 46px;
  font-weight: 500;
  border: 1px solid #22b3c1;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

main .bottom-lines {
  display: flex;
  margin-top: 45px;
}

main .bottom-lines .box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #f6eac5;
  width: 205px;
  height: 65px;
  margin: 20px;
  color: #f6eac5;
  font-size: 20px;
}
main .bottom-lines .box::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 0;
  height: 65px;
  border-top: 5px solid #22b3c1;
  animation: loading 5s linear infinite;
}
@keyframes loading {
  100% {
    width: 205px;
    /* left: 200px; */
  }
}

section {
  background-color: #222;
  padding: 90px;
}

section .main-part {
  display: flex;
  gap: 150px;
}

.section-heading {
  margin-bottom: 80px;
}

.section-heading h1 {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

.section-heading p {
  font-size: 15px;
  color: #999;
  padding-right: 780px;
}

section .left-side {
  width: 800px;
}

section .left-side #box1 {
  padding-bottom: 30px;
  border-bottom: 1.5px solid white;
  margin-bottom: 30px;
  width: 893px;
}

section .left-side #box2 {
  width: 893px;
  border-bottom: 1.5px solid white;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

section .left-side .box {
  display: flex;
}

section .left-side .box img {
  width: 270px;
  height: 275px;
  border-radius: 25px;
}

section .left-side .pic-detail {
  padding: 0 24px;
}

section .left-side .title-content {
  position: relative;
  width: 600px;
}

section .left-side .title-content h3 {
  margin-bottom: 5px;
  color: #22b3c1;
}

section .left-side .title-content button {
  position: absolute;
  top: 0;
  right: 0;
}

.pic-detail {
  color: #afafaf;
}

.pic-detail .desc-para {
  font-size: 15px;
  margin: 15px 0;
  line-height: 30px;
}

.pic-detail .desc-para a:hover {
  text-decoration: underline;
}

.pic-detail .more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  padding: 15px 0;
  margin-bottom: 20px;
}

.pic-detail .more-info .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.pic-detail a {
  text-decoration: none;
  color: #22b3c1;
  font-size: 14px;
}

.pic-detail i {
  margin-left: 3px;
  transition: all 0.3s ease-in-out;
}

.pic-detail a:hover i {
  transform: translateX(5px);
}

section .right-side {
  width: 500px;
  height: auto;
  border-radius: 30px;
  background-image: url(img/section\ pic.jpg);
  background-position: center;
  background-size: cover;
}

section .page-count {
  display: flex;
  align-items: center;
  color: #22b3c1;
  margin-left: 350px;
  margin-top: 70px;
}

section .page-count i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 18px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

section .page-count div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  width: 46px;
  height: 46px;
  border: 1px solid #22b3c1;
  border-radius: 50%;
  margin: 0 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

section .page-count .active {
  background-color: #22b3c1;
  color: white;
}

section .page-count div:hover,
section .page-count i:hover {
  background-color: #22b3c1;
  color: white;
}
.top-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(34, 180, 193, 0.8),
      rgba(34, 180, 193, 0.8)
    ),
    url(img/footer\ background.jpg);
  background-position: center;
  background-size: cover;
  height: 232px;
  color: white;
  gap: 530px;
}
footer h2 {
  text-transform: uppercase;
  font-size: 40px;
  /* font-weight: 600;   */
}
footer h4 {
  font-size: 20px;
  font-weight: 600;
}
footer button {
  width: 180px;
  height: 46px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
footer button:hover {
  background-color: #fff;
  color: #22b3c1;
}
.sub-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110px;
  background-color: #22b3c1;
  color: white;
}
.sub-footer p {
  font-size: 15px;
}
.sub-footer p:nth-child(2) {
  margin-top: 5px;
}
.sub-footer a {
  color: white;
  font-weight: 600;
}
.sub-footer a:hover {
  opacity: 0.8;
  text-decoration: underline;
}
.sub-footer i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50px;
  bottom: 25px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #22b3c1;
  cursor: pointer;
}
